<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node-Express CRUD App with Mongo DB</title>
</head>
<body>
    <h1>CRUD Application</h1>
    <form method="POST" action="/">
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email">
        <input type="tel" name="mobile" placeholder="Mobile">
        <button type="submit">Submit</button>
    </form>
    <div>
        <h3>Contacts table</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                <%data.forEach((contact) => {%>
                    <tr>
                        <td><%=contact.name%></td>
                        <td><%=contact.email%></td>
                        <td><%=contact.mobile%></td>
                        <td><a href="/update/<%=contact._id%>">update</a></td>
                    </tr>
                <%})%>
            </tbody>
        </table>
    </div>
</body>
</html>